.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 18px;
  color: white;
}

.primitivesContainer {
  display: flex;
  flex-direction: column;
}

.primitivesContainerInner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
